html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    /*vertical-align: middle;*/
    background-color:darkslateblue;
    color: white;
    width: fit-content;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    width: 1150px;
}

.jp {
    float: left;
    min-width: 20px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 350;
    font-style: normal;
    font-size: large;
    letter-spacing: 1px;
}

.spacer {
    width: 8px;
}

.title {
    height: 100%;
    width: 24px;
}

.vertical {
    position: relative;
    left: -6px;

    transform: rotate(-90deg);
    height: 24px;
    margin: 0;

    letter-spacing: 1px;
}

.vertical-dense {
    letter-spacing:-0.7px;
}

.justified {
    display: inline-flex;
    text-align: justify;
    justify-content: space-between;
    width: 100%;
}

.justified span {
    width: fit-content;
}

.justified .l {
    display: block;
    text-align: right;
}

.justified .r {
    display: block;
    text-align: left;
}

.yaku-green {
    color:lightgreen;
}

.yaku-gray {
    color: darkgray; 
    text-decoration: line-through;
}

.divider {
    border-left: 2px solid white; 
    margin-right: 13px;
    margin-top: 3px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding-bottom: 10px;
    padding-top: 15px;
}

.header-left {
    width: 300px;
}

.header-text {
    display: flex;
    height: 100px;
    width: 266px;
    border: 2px solid white;
    padding-left: 15px;
    padding-right: 15px;
}

.header-text p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-left .riichi-box {
    height: 80px;
    margin-top: 17px;
}

.header-center {
    margin-left: 20px;
}

.header-center .riichi-box {
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.riichi-box p {
    margin-top: 0;
}

.riichi-stick {
    background: #fff;
    width: 100%;
    height: 20px;
    border-radius: 10px;
    color: #e31a1c;
    text-align: center;
    font-size: 2em;
    line-height: 20px;
    cursor: default;
    margin-bottom: 7px;
}

.riichi-gray {
    background: rgb(160, 162, 175);
    width: 100%;
    height: 20px;
    border-radius: 10px;
    color: rgb(122, 117, 143);
    text-align: center;
    font-size: 2em;
    line-height: 20px;
    cursor: default;
    margin-bottom: 7px;
}

.yaku-list {
    width: 300px;
}

.dora {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dora-indicator {
    display: flex;
    align-items: flex-end;
    width: fit-content;
    height: 90px;
    margin-bottom: 5px;
}

.dora-indicator .title .vertical {
    transform-origin: 45px 45px;
    width: 90px;
    bottom: 2px;
}

.short-divider {
    height: 82px !important;
    margin-bottom: 1px;
}

.header-hr {
    height: 1px;
    width: 100%;
    color: white;
    background-color: white;
}

.dora-indicator svg {
    margin-left: -1px;
    margin-right: -1px;
}

.hand-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px
}

.hand-row, .hand {
    display: flex;
    height: 126px;
    align-items: flex-end;  
    width: fit-content;
}

.hand-row .title .vertical {
    transform-origin: 63px 63px;
    width: 126px;
    bottom: 2px;
}

.hand-row .divider {
    height: 124px;
    margin-bottom: 1px;
}

.hand {
    /* non-tsumo/ron hand: 0.8 for 17 wide, 0.85 for 16 wide, 0.9 for 15 wide, 0.95 for 14 wide, 1 for 13 wide */
    zoom: 1;
}

.tile-svg {
    margin-left: -1px;
    margin-right: -1px;
}

.tile-border {
    fill:transparent;
    stroke:gray;
    stroke-width:3;
    stroke-opacity:1
}

.back-border {
    fill:transparent;
    stroke:dimgray;
    stroke-width:3;
    stroke-opacity:1
}