<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">  
        <title>mahjong score</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&amp;display=swap" rel="stylesheet">
    </head>
    
    <body>
        <div class="container">
            <div class="header">
                <div class="header-left">
                    <div class="header-text">
                        <p class="jp">
                            Round Wind:<br>Seat Wind:<br>Win By:
                        </p>
                        <div class="spacer"></div>
                        <p class="jp">
                            <b><span id="round-wind">「東」East</span></b><br>
                            <b><span id="seat-wind">「西」West</span></b><br>
                            <b><span id="win-by">「ツモ」Tsumo</span></b>
                        </p>
                    </div>
                    <div class="riichi-box">
                        <div class="riichi-gray">•</div>
                        <div class="justified jp">
                            <span class="yaku-gray r">「立直」</span>
                            <span class="yaku-gray l">&nbsp;&nbsp;RIICHI&nbsp;&nbsp;</span>
                        </div>
                        <div class="justified jp">
                            <span class="yaku-gray r">「両立直」</span>
                            <span class="yaku-gray l">&nbsp;&nbsp;DOUBLE RIICHI&nbsp;&nbsp;</span>
                        </div>
                    </div>
                </div>

                <div class="header-center">
                    <div class="riichi-box">
                        <div class="justified jp">
                            <span class="yaku-gray r">「一発」</span>
                            <span class="yaku-gray l">&nbsp;&nbsp;IPPATSU&nbsp;&nbsp;</span>
                        </div>                        
                        <div class="justified jp">
                            <span class="yaku-gray r">「嶺上開花」</span>
                            <span class="yaku-gray l">&nbsp;&nbsp;RINSHAN KAIHOU&nbsp;&nbsp;</span>
                        </div>
                        <div class="justified jp">
                            <span class="yaku-gray r">「搶槓」</span>
                            <span class="yaku-gray l">&nbsp;&nbsp;CHANKAN&nbsp;&nbsp;</span>
                        </div>
                        <div class="justified jp">
                            <span class="yaku-green r">「海底撈月」</span>
                            <span class="yaku-green l">&nbsp;&nbsp;HAITEI RAOYUE&nbsp;&nbsp;</span>
                        </div>
                        <div class="justified jp">
                            <span class="yaku-gray r">「河底撈魚」</span>
                            <span class="yaku-gray l">&nbsp;&nbsp;HOUTEI RAOYUI&nbsp;&nbsp;</span>
                        </div>
                        <div class="justified jp">
                            <span class="yaku-gray r">「地和」</span>
                            <span class="yaku-gray l">&nbsp;&nbsp;CHIIHOU&nbsp;&nbsp;</span>
                        </div>
                        <div class="justified jp">
                            <span class="yaku-gray r">「天和」</span>
                            <span class="yaku-gray l">&nbsp;&nbsp;TENHOU&nbsp;&nbsp;</span>
                        </div>
                    </div>
                </div>

                <div class="dora">
                    <div class="dora-indicator">
                        <div class="title">
                            <p class="vertical jp">DORA</p>
                        </div>
                        <div class="divider short-divider"></div>

                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Back.png"/>
                            <rect class="back-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Back.png"/>
                            <rect class="back-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Front.png"/>
                            <image x="9.5" y="12" width="45" height="60" href="static/svgs/Regular/Chun.svg"/>
                            <rect class="tile-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Back.png"/>
                            <rect class="back-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Back.png"/>
                            <rect class="back-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Back.png"/>
                            <rect class="back-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Back.png"/>
                            <rect class="back-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                    </div>

                    <div class="dora-indicator">
                        <div class="title">
                            <p class="vertical vertical-dense jp">URADORA</p>
                        </div>
                        <div class="divider short-divider"></div>

                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Back.png"/>
                            <rect class="back-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Back.png"/>
                            <rect class="back-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Front.png"/>
                            <image x="9.5" y="12" width="45" height="60" href="static/svgs/Regular/Ton.svg"/>
                            <rect class="tile-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Back.png"/>
                            <rect class="back-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Back.png"/>
                            <rect class="back-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Back.png"/>
                            <rect class="back-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Back.png"/>
                            <rect class="back-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                    </div>
                </div>
            </div>

            <hr class="header-hr">

            <div class="hand-block">
                <div class="hand-row">
                    <div class="title">
                        <p class="vertical jp">HAND</p>
                    </div>
                    <div class="divider"></div>

                    <div class="hand">
                        <svg class="tile-svg" viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Front.png"/>
                            <image x="9.5" y="12" width="45" height="60" href="static/svgs/Regular/Man5.svg"/>
                            <rect class="tile-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>

                        <div class="spacer"></div>

                        <svg class="tile-svg" viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Front.png"/>
                            <image x="9.5" y="12" width="45" height="60" href="static/svgs/Regular/Pin3.svg"/>
                            <rect class="tile-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg class="tile-svg" viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Front.png"/>
                            <image x="9.5" y="12" width="45" height="60" href="static/svgs/Regular/Pin3.svg"/>
                            <rect class="tile-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg class="tile-svg" viewbox="0 0 84 64" width="84" height="64">
                            <image transform="rotate(90 40 40)" x="2" y="-2" width="60" height="80" href="static/svgs/Front.png"></image>
                            <image transform="rotate(90 40 40)" x="9.5" y="8" width="45" height="60" href="static/svgs/Regular/Pin3.svg"></image>
                            <rect class="tile-border" width="80" height="60" x="2" y="2" rx="6" style=""/>
                        </svg>
                        <svg class="tile-svg" viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Front.png"/>
                            <image x="9.5" y="12" width="45" height="60" href="static/svgs/Regular/Pin5.svg"/>
                            <rect class="tile-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg class="tile-svg" viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Front.png"/>
                            <image x="9.5" y="12" width="45" height="60" href="static/svgs/Regular/Pin5.svg"/>
                            <rect class="tile-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg class="tile-svg" viewbox="0 0 84 64" width="84" height="64">
                            <image transform="rotate(90 40 40)" x="2" y="-2" width="60" height="80" href="static/svgs/Front.png"></image>
                            <image transform="rotate(90 40 40)" x="9.5" y="8" width="45" height="60" href="static/svgs/Regular/Pin5.svg"></image>
                            <rect class="tile-border" width="80" height="60" x="2" y="2" rx="6" style=""/>
                        </svg>
                        <svg class="tile-svg" viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Front.png"/>
                            <image x="9.5" y="12" width="45" height="60" href="static/svgs/Regular/Chun.svg"/>
                            <rect class="tile-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 84 126" width="84" height="126">
                            <image transform="rotate(90 10 70)" x="5" y="-2" width="60" height="80" href="static/svgs/Front.png"></image>
                            <image transform="rotate(90 10 70)" x="11.5" y="8" width="45" height="60" href="static/svgs/Regular/Chun.svg"></image>
                            <rect class="tile-border" width="80" height="60" x="2" y="64" rx="6"/>

                            <image transform="rotate(90 40 40)" x="2" y="-2" width="60" height="80" href="static/svgs/Front.png"></image>
                            <image transform="rotate(90 40 40)" x="9.5" y="8" width="45" height="60" href="static/svgs/Regular/Chun.svg"></image>
                            <rect class="tile-border" width="80" height="60" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Front.png"/>
                            <image x="9.5" y="12" width="45" height="60" href="static/svgs/Regular/Chun.svg"/>
                            <rect class="tile-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Front.png"/>
                            <image x="9.5" y="12" width="45" height="60" href="static/svgs/Regular/Man6.svg"/>
                            <rect class="tile-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 84 64" width="84" height="64">
                            <image transform="rotate(90 40 40)" x="2" y="-2" width="60" height="80" href="static/svgs/Front.png"></image>
                            <image transform="rotate(90 40 40)" x="9.5" y="8" width="45" height="60" href="static/svgs/Regular/Man6.svg"></image>
                            <rect class="tile-border" width="80" height="60" x="2" y="2" rx="6" style=""/>
                        </svg>
                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Front.png"/>
                            <image x="9.5" y="12" width="45" height="60" href="static/svgs/Regular/Man6.svg"/>
                            <rect class="tile-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>

                        <div class="spacer"></div>
                        <div class="spacer"></div>
                    </div>
                </div>
                <div class="hand-row">
                    <div class="title">
                        <p class="vertical jp">TSUMO</p>
                    </div>
                    <div class="divider short-divider"></div>

                    <svg viewbox="0 0 64 84" width="64" height="84">
                        <image x="2" y="2" width="60" height="80" href="static/svgs/Front.png"/>
                        <image x="9.5" y="12" width="45" height="60" href="static/svgs/Regular/Man5-Dora.svg"/>
                        <rect class="tile-border" width="60" height="80" x="2" y="2" rx="6"/>
                    </svg>
                </div>
            </div>

            <hr class="header-hr">

            <div class="points-group">
                <div class="title">
                    <p class="vertical jp bracket">「飜」HAN</p>
                </div>
                <div class="divider"></div>

                <div id="han-grp">
                    <div class="points-selector">
                        <button id="1han" class="han-blue jp">1 HAN</button>
                        <button id="2han" class="han-blue jp">2 HAN</button>
                        <button id="3han" class="han-blue jp">3 HAN</button>
                        <button id="4han" class="han-blue jp">4 HAN</button>
                        <button id="5han" class="han-blue jp">5 HAN</button>
                    </div>
                    <div class="points-selector">
                        <button id="6han" class="han-blue jp">6 HAN</button>
                        <button id="7han" class="han-blue jp">7 HAN</button>
                        <button id="8han" class="han-blue jp">8 HAN</button>
                        <button id="9han" class="han-blue jp">9 HAN</button>
                        <button id="10han" class="han-blue jp">10 HAN</button>
                    </div>
                    <div class="points-selector">
                        <button id="11han" class="han-blue jp">11 HAN</button>
                        <button id="12han" class="han-red jp" disabled>12 HAN</button>
                        <button id="13han" class="han-blue jp">13+ HAN</button>
                    </div>
                </div>

                <div class="title">
                    <p class="vertical jp">POINTS</p>
                </div>
                <div class="divider"></div>

                <div id="dealer-ron" hidden>
                    <div class="points-selector">
                        <button id="table-dr" class="pts-blue jp">☰ TABLE (1500 - 11600)</button>
                        <button id="mangan-dr" class="pts-blue jp r">「満貫」MANGAN (12000)</button>
                    </div>
                    <div class="points-selector">
                        <button id="haneman-dr" class="pts-blue jp">「跳満」HANEMAN (18000)</button>
                        <button id="baiman-dr" class="pts-blue jp r">「倍満」BAIMAN (24000)</button>
                    </div>
                    <div class="points-selector">
                        <button id="sanbaiman-dr" class="pts-blue jp">「三倍満」SANBAIMAN (36000)</button>
                        <button id="yakuman-dr" class="pts-blue jp r">「役満」YAKUMAN+ (48000+)</button>
                    </div>
                </div>
                <div id="dealer-tsumo" hidden>
                    <div class="points-selector">
                        <button id="table-dts" class="pts-blue jp">☰ TABLE (∀500 - 3900)</button>
                        <button id="mangan-dts" class="pts-blue jp r">「満貫」MANGAN (∀4000)</button>
                    </div>
                    <div class="points-selector">
                        <button id="haneman-dts"class="pts-blue jp">「跳満」HANEMAN (∀6000)</button>
                        <button id="baiman-dts" class="pts-blue jp r">「倍満」BAIMAN (∀8000)</button>
                    </div>
                    <div class="points-selector">
                        <button id="sanbaiman-dts" class="pts-blue jp">「三倍満」SANBAIMAN (∀12000)</button>
                        <button id="yakuman-dts" class="pts-blue jp r">「役満」YAKUMAN+ (∀16000+)</button>
                    </div>
                </div>
                <div id="nondealer-ron" >
                    <div class="points-selector">
                        <button id="table-ndr" class="pts-blue jp">☰ TABLE (1000 - 7700)</button>
                        <button id="mangan-ndr" class="pts-blue jp r">「満貫」MANGAN (8000)</button>
                    </div>
                    <div class="points-selector">
                        <button id="haneman-ndr" class="pts-blue jp">「跳満」HANEMAN (12000)</button>
                        <button id="baiman-ndr" class="pts-blue jp r">「倍満」BAIMAN (16000)</button>
                    </div>
                    <div class="points-selector">
                        <button id="sanbaiman-ndr" class="pts-blue jp">「三倍満」SANBAIMAN (24000)</button>
                        <button id="yakuman-ndr" class="pts-blue jp r">「役満」YAKUMAN+ (32000+)</button>
                    </div>
                </div>
                <div id="nondealer-tsumo" hidden>
                    <div class="points-selector">
                        <button id="table-ndts" class="pts-blue jp">☰ TABLE (500/300 - 3900/2000)</button>
                        <button id="mangan-ndts" class="pts-blue jp r">「満貫」MANGAN (4000/2000)</button>
                    </div>
                    <div class="points-selector">
                        <button id="haneman-ndts" class="pts-blue jp">「跳満」HANEMAN (6000/3000)</button>
                        <button id="baiman-ndts" class="pts-blue jp r">「倍満」BAIMAN (8000/4000)</button>
                    </div>
                    <div class="points-selector">
                        <button id="sanbaiman-ndts" class="pts-blue jp ndts-small">「三倍満」SANBAIMAN (12000/6000)</button>
                        <button id="yakuman-ndts" class="pts-blue jp ndts-small r">「役満」YAKUMAN+ (16000/8000+)</button>
                    </div>
                </div>
            </div>

            <div>
                <div id="overlay-dr" class="overlay">
                    <div id="chart-dr" class="score-chart">
                        <div class="chart-cell"><p class="chart-label jp">「符」FU&nbsp;&nbsp;</p></div>
                        <div class="chart-cell"><p class="chart-label jp">20 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">25 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">30 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">40 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">50 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">60 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">70 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">80 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">90 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">100 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">110 FU</p></div>

                        <div class="chart-cell"><p class="chart-label jp">1 HAN</p></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <button id="1h30f-dr" class="chart-button han-blue jp">1500</button>
                        <button id="1h40f-dr" class="chart-button han-blue jp">2000</button>
                        <button id="1h50f-dr" class="chart-button han-blue jp">2400</button>
                        <button id="1h60f-dr" class="chart-button han-blue jp">2900</button>
                        <button id="1h70f-dr" class="chart-button han-blue jp">3400</button>
                        <button id="1h80f-dr" class="chart-button han-blue jp">3900</button>
                        <button id="1h90f-dr" class="chart-button han-blue jp">4400</button>
                        <button id="1h100f-dr" class="chart-button han-blue jp">4800</button>
                        <button id="1h110f-dr" class="chart-button han-blue jp">5300</button>

                        <div class="chart-cell"><p class="chart-label jp">2 HAN</p></div>
                        <div class="chart-cell"></div>
                        <button id="2h25f-dr" class="chart-button han-blue jp">2400</button>
                        <button id="2h30f-dr" class="chart-button han-blue jp">2900</button>
                        <button id="2h40f-dr" class="chart-button han-blue jp">3900</button>
                        <button id="2h50f-dr" class="chart-button han-blue jp">4800</button>
                        <button id="2h60f-dr" class="chart-button han-blue jp">5800</button>
                        <button id="2h70f-dr" class="chart-button han-blue jp">6800</button>
                        <button id="2h80f-dr" class="chart-button han-blue jp">7700</button>
                        <button id="2h90f-dr" class="chart-button han-blue jp">8700</button>
                        <button id="2h100f-dr" class="chart-button han-blue jp">9600</button>
                        <button id="2h110f-dr" class="chart-button han-blue jp">10600</button>

                        <div class="chart-cell"><p class="chart-label jp">3 HAN</p></div>
                        <div class="chart-cell"></div>
                        <button id="3h25f-dr" class="chart-button han-blue jp">4800</button>
                        <button id="3h30f-dr" class="chart-button han-blue jp">5800</button>
                        <button id="3h40f-dr" class="chart-button han-blue jp">7700</button>
                        <button id="3h50f-dr" class="chart-button han-blue jp">9600</button>
                        <button id="3h60f-dr" class="chart-button han-blue jp">11600</button>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>

                        <div class="chart-cell"><p class="chart-label jp">4 HAN</p></div>
                        <div class="chart-cell"></div>
                        <button id="4h25f-dr" class="chart-button han-blue jp">9600</button>
                        <button id="4h30f-dr" class="chart-button han-blue jp">11600</button>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                    </div>
                </div>
                <div id="overlay-dts" class="overlay">
                    <div id="chart-dts" class="score-chart">
                        <div class="chart-cell"><p class="chart-label jp">「符」FU&nbsp;&nbsp;</p></div>
                        <div class="chart-cell"><p class="chart-label jp">20 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">25 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">30 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">40 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">50 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">60 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">70 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">80 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">90 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">100 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">110 FU</p></div>

                        <div class="chart-cell"><p class="chart-label jp">1 HAN</p></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <button id="1h30f-dts" class="chart-button han-blue jp">∀500</button>
                        <button id="1h40f-dts" class="chart-button han-blue jp">∀700</button>
                        <button id="1h50f-dts" class="chart-button han-blue jp">∀800</button>
                        <button id="1h60f-dts" class="chart-button han-blue jp">∀1000</button>
                        <button id="1h70f-dts" class="chart-button han-blue jp">∀1200</button>
                        <button id="1h80f-dts" class="chart-button han-blue jp">∀1300</button>
                        <button id="1h90f-dts" class="chart-button han-blue jp">∀1500</button>
                        <button id="1h100f-dts" class="chart-button han-blue jp">∀1600</button>
                        <button id="1h110f-dts" class="chart-button han-blue jp">∀1800</button>

                        <div class="chart-cell"><p class="chart-label jp">2 HAN</p></div>
                        <button id="2h20f-dts" class="chart-button han-blue jp">∀700</button>
                        <div class="chart-cell"></div>
                        <button id="2h30f-dts" class="chart-button han-blue jp">∀1000</button>
                        <button id="2h40f-dts" class="chart-button han-blue jp">∀1300</button>
                        <button id="2h50f-dts" class="chart-button han-blue jp">∀1600</button>
                        <button id="2h60f-dts" class="chart-button han-blue jp">∀2000</button>
                        <button id="2h70f-dts" class="chart-button han-blue jp">∀2300</button>
                        <button id="2h80f-dts" class="chart-button han-blue jp">∀2600</button>
                        <button id="2h90f-dts" class="chart-button han-blue jp">∀2900</button>
                        <button id="2h100f-dts" class="chart-button han-blue jp">∀3200</button>
                        <button id="2h110f-dts" class="chart-button han-blue jp">∀3600</button>

                        <div class="chart-cell"><p class="chart-label jp">3 HAN</p></div>
                        <button id="3h20f-dts" class="chart-button han-blue jp">∀1300</button>
                        <button id="3h25f-dts" class="chart-button han-blue jp">∀1600</button>
                        <button id="3h30f-dts" class="chart-button han-blue jp">∀2000</button>
                        <button id="3h40f-dts" class="chart-button han-blue jp">∀2600</button>
                        <button id="3h50f-dts" class="chart-button han-blue jp">∀3200</button>
                        <button id="3h60f-dts" class="chart-button han-blue jp">∀3900</button>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>

                        <div class="chart-cell"><p class="chart-label jp">4 HAN</p></div>
                        <button id="4h20f-dts" class="chart-button han-blue jp">∀2600</button>
                        <button id="4h25f-dts" class="chart-button han-blue jp">∀3200</button>
                        <button id="4h30f-dts" class="chart-button han-blue jp">∀3900</button>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                    </div>
                </div>
                <div id="overlay-ndr" class="overlay">
                    <div id="chart-ndr" class="score-chart">
                        <div class="chart-cell"><p class="chart-label jp">「符」FU&nbsp;&nbsp;</p></div>
                        <div class="chart-cell"><p class="chart-label jp">20 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">25 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">30 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">40 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">50 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">60 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">70 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">80 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">90 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">100 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">110 FU</p></div>

                        <div class="chart-cell"><p class="chart-label jp">1 HAN</p></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <button id="1h30f-ndr" class="chart-button han-blue jp">1000</button>
                        <button id="1h40f-ndr" class="chart-button han-blue jp">1300</button>
                        <button id="1h50f-ndr" class="chart-button han-blue jp">1600</button>
                        <button id="1h60f-ndr" class="chart-button han-blue jp">2000</button>
                        <button id="1h70f-ndr" class="chart-button han-blue jp">2300</button>
                        <button id="1h80f-ndr" class="chart-button han-blue jp">2600</button>
                        <button id="1h90f-ndr" class="chart-button han-blue jp">2900</button>
                        <button id="1h100f-ndr" class="chart-button han-blue jp">3200</button>
                        <button id="1h110f-ndr" class="chart-button han-blue jp">3600</button>

                        <div class="chart-cell"><p class="chart-label jp">2 HAN</p></div>
                        <div class="chart-cell"></div>
                        <button id="2h25f-ndr" class="chart-button han-blue jp">1600</button>
                        <button id="2h30f-ndr" class="chart-button han-blue jp">2000</button>
                        <button id="2h40f-ndr" class="chart-button han-blue jp">2600</button>
                        <button id="2h50f-ndr" class="chart-button han-blue jp">3200</button>
                        <button id="2h60f-ndr" class="chart-button han-blue jp">3900</button>
                        <button id="2h70f-ndr" class="chart-button han-blue jp">4500</button>
                        <button id="2h80f-ndr" class="chart-button han-blue jp">5200</button>
                        <button id="2h90f-ndr" class="chart-button han-blue jp">5800</button>
                        <button id="2h100f-ndr" class="chart-button han-blue jp">6400</button>
                        <button id="2h110f-ndr" class="chart-button han-blue jp">7100</button>

                        <div class="chart-cell"><p class="chart-label jp">3 HAN</p></div>
                        <div class="chart-cell"></div>
                        <button id="3h25f-ndr" class="chart-button han-blue jp">3200</button>
                        <button id="3h30f-ndr" class="chart-button han-blue jp">3900</button>
                        <button id="3h40f-ndr" class="chart-button han-blue jp">5200</button>
                        <button id="3h50f-ndr" class="chart-button han-blue jp">6400</button>
                        <button id="3h60f-ndr" class="chart-button han-blue jp">7700</button>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>

                        <div class="chart-cell"><p class="chart-label jp">4 HAN</p></div>
                        <div class="chart-cell"></div>
                        <button id="4h25f-ndr" class="chart-button han-blue jp">6400</button>
                        <button id="4h30f-ndr" class="chart-button han-blue jp">7700</button>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                    </div>
                </div>
                <div id="overlay-ndts" class="overlay">
                    <div id="chart-ndts" class="score-chart">
                        <div class="chart-cell"><p class="chart-label jp">「符」FU&nbsp;&nbsp;</p></div>
                        <div class="chart-cell"><p class="chart-label jp">20 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">25 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">30 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">40 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">50 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">60 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">70 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">80 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">90 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">100 FU</p></div>
                        <div class="chart-cell"><p class="chart-label jp">110 FU</p></div>

                        <div class="chart-cell"><p class="chart-label jp">1 HAN</p></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <button id="1h30f-ndts" class="chart-button han-blue jp">500/300</button>
                        <button id="1h40f-ndts" class="chart-button han-blue jp">700/400</button>
                        <button id="1h50f-ndts" class="chart-button han-blue jp">800/400</button>
                        <button id="1h60f-ndts" class="chart-button han-blue jp">1000/500</button>
                        <button id="1h70f-ndts" class="chart-button han-blue jp">1200/600</button>
                        <button id="1h80f-ndts" class="chart-button han-blue jp">1300/700</button>
                        <button id="1h90f-ndts" class="chart-button han-blue jp">1500/800</button>
                        <button id="1h100f-ndts" class="chart-button han-blue jp">1600/800</button>
                        <button id="1h110f-ndts" class="chart-button han-blue jp">1800/900</button>

                        <div class="chart-cell"><p class="chart-label jp">2 HAN</p></div>
                        <button id="2h20f-ndts" class="chart-button han-blue jp">700/400</button>
                        <div class="chart-cell"></div>
                        <button id="2h30f-ndts" class="chart-button han-blue jp">1000/500</button>
                        <button id="2h40f-ndts" class="chart-button han-blue jp">1300/700</button>
                        <button id="2h50f-ndts" class="chart-button han-blue jp">1600/800</button>
                        <button id="2h60f-ndts" class="chart-button han-blue jp">2000/1000</button>
                        <button id="2h70f-ndts" class="chart-button han-blue jp">2300/1200</button>
                        <button id="2h80f-ndts" class="chart-button han-blue jp">2600/1300</button>
                        <button id="2h90f-ndts" class="chart-button han-blue jp">2900/1500</button>
                        <button id="2h100f-ndts" class="chart-button han-blue jp">3200/1600</button>
                        <button id="2h110f-ndts" class="chart-button han-blue jp">3600/1800</button>

                        <div class="chart-cell"><p class="chart-label jp">3 HAN</p></div>
                        <button id="3h20f-ndts" class="chart-button han-blue jp">1300/700</button>
                        <button id="3h25f-ndts" class="chart-button han-blue jp">1600/800</button>
                        <button id="3h30f-ndts" class="chart-button han-blue jp">2000/1000</button>
                        <button id="3h40f-ndts" class="chart-button han-blue jp">2600/1300</button>
                        <button id="3h50f-ndts" class="chart-button han-blue jp">3200/1600</button>
                        <button id="3h60f-ndts" class="chart-button han-blue jp">3900/2000</button>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>

                        <div class="chart-cell"><p class="chart-label jp">4 HAN</p></div>
                        <button id="4h20f-ndts" class="chart-button han-blue jp">2600/1300</button>
                        <button id="4h25f-ndts" class="chart-button han-blue jp">3200/1600</button>
                        <button id="4h30f-ndts" class="chart-button han-blue jp">3900/2000</button>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                        <div class="chart-cell"></div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            function hasClass(el, className) {
                if (el.classList)
                    return el.classList.contains(className);
                return !!el.className.match(new RegExp('(\\s|^)' + className + '(\\s|$)'));
            }
            function addClass(el, className) {
                if (el.classList)
                    el.classList.add(className)
                else if (!hasClass(el, className))
                    el.className += " " + className;
            }
            function removeClass(el, className) {
                if (el.classList)
                    el.classList.remove(className)
                else if (hasClass(el, className)) {
                    var reg = new RegExp('(\\s|^)' + className + '(\\s|$)');
                    el.className = el.className.replace(reg, ' ');
                }
            }

            const table_types = ["dr", "dts", "ndr", "ndts"];
            const score_types = ["1h20f", "1h25f", "1h30f", "1h40f", "1h50f", "1h60f", "1h70f", "1h80f", "1h90f", "1h100f", "1h110f", "2h20f", "2h25f", "2h30f", "2h40f", "2h50f", "2h60f", "2h70f", "2h80f", "2h90f", "2h100f", "2h110f", "3h20f", "3h25f", "3h30f", "3h40f", "3h50f", "3h60f", "3h70f", "3h80f", "3h90f", "3h100f", "3h110f", "4h20f", "4h25f", "4h30f", "4h40f", "4h50f", "4h60f", "4h70f", "4h80f", "4h90f", "4h100f", "4h110f", "mangan", "haneman", "baiman", "sanbaiman", "yakuman"];
            
            let score_buttons = {"dr": {}, "dts": {}, "ndr": {}, "ndts": {},};
            let table_elements = {"dr": {}, "dts": {}, "ndr": {}, "ndts": {},};
            for (let i = 0; i < table_types.length; i++) {
                let table_type = table_types[i];

                table_elements[table_type]['overlay'] = document.getElementById("overlay-" + table_type);
                table_elements[table_type]['chart'] = document.getElementById("chart-" + table_type);
                table_elements[table_type]['button'] = document.getElementById("table-" + table_type);

                for (let j = 0; j < score_types.length; j++) {
                    let score_type = score_types[j];
                    score_buttons[table_type][score_type] = document.getElementById(score_type + "-" + table_type);
                }

                if (table_elements[table_type]['overlay'] == null) {
                    continue;
                }

                table_elements[table_type]['chart'].addEventListener("click", function(e) {
                    e.stopPropagation();
                });
                table_elements[table_type]['overlay'].addEventListener("click", function(e) {
                    removeClass(table_elements[table_type]['overlay'], "overlay");
                    removeClass(table_elements[table_type]['overlay'], "overlay-show");
                    addClass(table_elements[table_type]['overlay'], "overlay-hide");
                });
                table_elements[table_type]['button'].onclick = (ev) => {
                    removeClass(table_elements[table_type]['overlay'], "overlay");
                    removeClass(table_elements[table_type]['overlay'], "overlay-hide");
                    addClass(table_elements[table_type]['overlay'], "overlay-show");
                };
            }       
        </script>
    </body>
</html>