<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">  
        <title>Puzzles</title>
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> -->
    </head>
    
    <body>

        <script type="text/javascript">
            const tile_data = {};
            
            class Hand {
                #valid = false;

                #tiles = {};
                #winning_tile = null;
                
                constructor() {
                }

                set add_tile(tile) {
                    
                }


            }
        </script>
    </body>
</html>