<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">  
        <title>mahjong score</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&amp;display=swap" rel="stylesheet">
    </head>
    
    <body>
        <div class="container">
            <div class="header">
                <div class="header-left">
                    <div class="header-text">
                        <p class="jp">
                            Round Wind:<br>Seat Wind:<br>Win By:
                        </p>
                        <div class="spacer"></div>
                        <p class="jp">
                            <b><span id="round-wind">「東」East</span></b><br>
                            <b><span id="seat-wind">「西」West</span></b><br>
                            <b><span id="win-by">「ツモ」Tsumo</span></b>
                        </p>
                    </div>
                    <div class="riichi-box">
                        <div class="riichi-gray">•</div>
                        <div class="justified jp">
                            <span class="yaku-gray r">「立直」</span>
                            <span class="yaku-gray l">&nbsp;&nbsp;RIICHI&nbsp;&nbsp;</span>
                        </div>
                        <div class="justified jp">
                            <span class="yaku-gray r">「両立直」</span>
                            <span class="yaku-gray l">&nbsp;&nbsp;DOUBLE RIICHI&nbsp;&nbsp;</span>
                        </div>
                    </div>
                </div>

                <div class="header-center">
                    <div class="riichi-box">
                        <div class="justified jp">
                            <span class="yaku-gray r">「一発」</span>
                            <span class="yaku-gray l">&nbsp;&nbsp;IPPATSU&nbsp;&nbsp;</span>
                        </div>                        
                        <div class="justified jp">
                            <span class="yaku-gray r">「嶺上開花」</span>
                            <span class="yaku-gray l">&nbsp;&nbsp;RINSHAN KAIHOU&nbsp;&nbsp;</span>
                        </div>
                        <div class="justified jp">
                            <span class="yaku-gray r">「搶槓」</span>
                            <span class="yaku-gray l">&nbsp;&nbsp;CHANKAN&nbsp;&nbsp;</span>
                        </div>
                        <div class="justified jp">
                            <span class="yaku-green r">「海底撈月」</span>
                            <span class="yaku-green l">&nbsp;&nbsp;HAITEI RAOYUE&nbsp;&nbsp;</span>
                        </div>
                        <div class="justified jp">
                            <span class="yaku-gray r">「河底撈魚」</span>
                            <span class="yaku-gray l">&nbsp;&nbsp;HOUTEI RAOYUI&nbsp;&nbsp;</span>
                        </div>
                        <div class="justified jp">
                            <span class="yaku-gray r">「地和」</span>
                            <span class="yaku-gray l">&nbsp;&nbsp;CHIIHOU&nbsp;&nbsp;</span>
                        </div>
                        <div class="justified jp">
                            <span class="yaku-gray r">「天和」</span>
                            <span class="yaku-gray l">&nbsp;&nbsp;TENHOU&nbsp;&nbsp;</span>
                        </div>
                    </div>
                </div>

                <div class="dora">
                    <div class="dora-indicator">
                        <div class="title">
                            <p class="vertical jp">DORA</p>
                        </div>
                        <div class="divider short-divider"></div>

                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Back.png"/>
                            <rect class="back-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Back.png"/>
                            <rect class="back-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Front.png"/>
                            <image x="9.5" y="12" width="45" height="60" href="static/svgs/Regular/Chun.svg"/>
                            <rect class="tile-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Back.png"/>
                            <rect class="back-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Back.png"/>
                            <rect class="back-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Back.png"/>
                            <rect class="back-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Back.png"/>
                            <rect class="back-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                    </div>

                    <div class="dora-indicator">
                        <div class="title">
                            <p class="vertical vertical-dense jp">URADORA</p>
                        </div>
                        <div class="divider short-divider"></div>

                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Back.png"/>
                            <rect class="back-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Back.png"/>
                            <rect class="back-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Front.png"/>
                            <image x="9.5" y="12" width="45" height="60" href="static/svgs/Regular/Ton.svg"/>
                            <rect class="tile-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Back.png"/>
                            <rect class="back-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Back.png"/>
                            <rect class="back-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Back.png"/>
                            <rect class="back-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Back.png"/>
                            <rect class="back-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                    </div>
                </div>
            </div>

            <hr class="header-hr">

            <div class="hand-block">
                <div class="hand-row">
                    <div class="title">
                        <p class="vertical jp">HAND</p>
                    </div>
                    <div class="divider"></div>

                    <div class="hand">
                        <svg class="tile-svg" viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Front.png"/>
                            <image x="9.5" y="12" width="45" height="60" href="static/svgs/Regular/Man5.svg"/>
                            <rect class="tile-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>

                        <div class="spacer"></div>

                        <svg class="tile-svg" viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Front.png"/>
                            <image x="9.5" y="12" width="45" height="60" href="static/svgs/Regular/Pin3.svg"/>
                            <rect class="tile-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg class="tile-svg" viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Front.png"/>
                            <image x="9.5" y="12" width="45" height="60" href="static/svgs/Regular/Pin3.svg"/>
                            <rect class="tile-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg class="tile-svg" viewbox="0 0 84 64" width="84" height="64">
                            <image transform="rotate(90 40 40)" x="2" y="-2" width="60" height="80" href="static/svgs/Front.png"></image>
                            <image transform="rotate(90 40 40)" x="9.5" y="8" width="45" height="60" href="static/svgs/Regular/Pin3.svg"></image>
                            <rect class="tile-border" width="80" height="60" x="2" y="2" rx="6" style=""/>
                        </svg>
                        <svg class="tile-svg" viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Front.png"/>
                            <image x="9.5" y="12" width="45" height="60" href="static/svgs/Regular/Pin5.svg"/>
                            <rect class="tile-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg class="tile-svg" viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Front.png"/>
                            <image x="9.5" y="12" width="45" height="60" href="static/svgs/Regular/Pin5.svg"/>
                            <rect class="tile-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg class="tile-svg" viewbox="0 0 84 64" width="84" height="64">
                            <image transform="rotate(90 40 40)" x="2" y="-2" width="60" height="80" href="static/svgs/Front.png"></image>
                            <image transform="rotate(90 40 40)" x="9.5" y="8" width="45" height="60" href="static/svgs/Regular/Pin5.svg"></image>
                            <rect class="tile-border" width="80" height="60" x="2" y="2" rx="6" style=""/>
                        </svg>
                        <svg class="tile-svg" viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Front.png"/>
                            <image x="9.5" y="12" width="45" height="60" href="static/svgs/Regular/Chun.svg"/>
                            <rect class="tile-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 84 126" width="84" height="126">
                            <image transform="rotate(90 10 70)" x="5" y="-2" width="60" height="80" href="static/svgs/Front.png"></image>
                            <image transform="rotate(90 10 70)" x="11.5" y="8" width="45" height="60" href="static/svgs/Regular/Chun.svg"></image>
                            <rect class="tile-border" width="80" height="60" x="2" y="64" rx="6"/>

                            <image transform="rotate(90 40 40)" x="2" y="-2" width="60" height="80" href="static/svgs/Front.png"></image>
                            <image transform="rotate(90 40 40)" x="9.5" y="8" width="45" height="60" href="static/svgs/Regular/Chun.svg"></image>
                            <rect class="tile-border" width="80" height="60" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Front.png"/>
                            <image x="9.5" y="12" width="45" height="60" href="static/svgs/Regular/Chun.svg"/>
                            <rect class="tile-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Front.png"/>
                            <image x="9.5" y="12" width="45" height="60" href="static/svgs/Regular/Man6.svg"/>
                            <rect class="tile-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>
                        <svg viewbox="0 0 84 64" width="84" height="64">
                            <image transform="rotate(90 40 40)" x="2" y="-2" width="60" height="80" href="static/svgs/Front.png"></image>
                            <image transform="rotate(90 40 40)" x="9.5" y="8" width="45" height="60" href="static/svgs/Regular/Man6.svg"></image>
                            <rect class="tile-border" width="80" height="60" x="2" y="2" rx="6" style=""/>
                        </svg>
                        <svg viewbox="0 0 64 84" width="64" height="84">
                            <image x="2" y="2" width="60" height="80" href="static/svgs/Front.png"/>
                            <image x="9.5" y="12" width="45" height="60" href="static/svgs/Regular/Man6.svg"/>
                            <rect class="tile-border" width="60" height="80" x="2" y="2" rx="6"/>
                        </svg>

                        <div class="spacer"></div>
                        <div class="spacer"></div>
                    </div>
                </div>
                <div class="hand-row">
                    <div class="title">
                        <p class="vertical jp">TSUMO</p>
                    </div>
                    <div class="divider short-divider"></div>

                    <svg viewbox="0 0 64 84" width="64" height="84">
                        <image x="2" y="2" width="60" height="80" href="static/svgs/Front.png"/>
                        <image x="9.5" y="12" width="45" height="60" href="static/svgs/Regular/Man5-Dora.svg"/>
                        <rect class="tile-border" width="60" height="80" x="2" y="2" rx="6"/>
                    </svg>
                </div>
            </div>

            <hr class="header-hr">
        </div>

        <script type="text/javascript">
            let hand = [];
            console.log("a");

            const draw_hand = function (hand) {
                console.log("h");
            }
            draw_hand();
        </script>
    </body>
</html>